<div class="container">
  <div class="notes-list">
    <mat-card class="notes-list__item" *ngFor="let note of notes">
      <div class="notes-list__left">
        <img *ngIf="note.thumb" [src]="staticUrl + note.thumb" [alt]="note.title">
        {{ note.title }}
      </div>

      <div class="notes-list__actions">
        <a [routerLink]="'/admin/edit-note/' + note.id" color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>edit</mat-icon>
        </a>
        <button color="warn" (click)="deleteNote(note)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>

